:root {
    --black: #000;
    --white: #fff;
    --red: #c32828;
    --dark-grey: #433f3f;
    --bg: #abc;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg);
    color: var(--black);
}

/* Structure */
#content {
    background: var(--white);
    padding: 5px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
}

/* Header */
#header {
    text-align: center;
}

#main-nav ul {
    /* Remove list indent */
    padding-left: 0;
    margin: auto;
}

#main-nav li {
    list-style-type: none;
    background: var(--dark-grey);
    padding: 10px;
    border-bottom: 1px solid var(--dark-grey);
    border-radius: 15px;
}

#main-nav a {
    text-decoration: none;
    color: var(--black);
}

/* Main Content */
#main-content {
    text-align: center;
}

.images {
    margin: 5px;
}

img {
    border-radius: 29px;
}

.two, .three {
    border: 2px solid var(--dark-grey);
    background: var(--dark-grey);
    margin-left: 20px;
    padding: 10px;
    border-radius: 29px;
}

.columns1 {
    margin-bottom: 20px;
}

.contact-info {
    border: 2px solid var(--dark-grey);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 29px;
}

.contact-info h3 {
    width: 30%;
}

/* For larger resolutions */
@media only screen and (min-width: 768px) {
    .columns1, .columns, #main-nav, .img-box, .contact-info {
        display: flex;
        width: 80%;
        margin: auto;
    }

    #main-nav li {
        text-align: center;
        margin: 40px;
        &:hover {
            border-bottom: 2px solid var(--dark-grey);
        }
    }

    .img-box {
        display: flex;
        margin: auto;
        margin-top: 5px;
    }

    .contact-info {
        width: 80%;
    }
}

/* For smaller resolutions */
@media only screen and (max-width: 768px) {
    .img-box {
        display: flex;
    }

    .one, .two, .three {
        text-align: center;
        margin: auto;
    }
}
