:root {
    --color-black: #000;
    --color-white: #fff;
    --color-red: #c32828;
    --color-dark-grey: #433f3f;
    --color-light-grey: #abc;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--color-light-grey);
}

/* Structure */
#content {
    background: var(--color-white);
    padding: 5px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
}

/* Header */
#header {
    text-align: center;
}

#main-nav ul {
    padding-left: 0;
    margin: auto;
}

#main-nav li {
    list-style-type: none;
    background: var(--color-light-grey);
    padding: 10px;
    border: 1px solid var(--color-dark-grey);
    border-radius: 15px;
}

#main-nav a {
    text-decoration: none;
    color: var(--color-black);
}

/* Main Content */
#main-content {
    text-align: center;
}

.images {
    margin: 5px;
}

img {
    border-radius: 29px;
}

.two, .three {
    border: 2px solid var(--color-dark-grey);
    background: var(--color-light-grey);
    margin-left: 20px;
    padding: 10px;
    border-radius: 29px;
}

.columns1 {
    margin-bottom: 20px;
}

.contact-info {
    border: 2px solid var(--color-dark-grey);
    background: var(--color-light-grey);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 29px;
}

.contact-info h3 {
    width: 30%;
}

/* Larger Resolutions */
@media only screen and (min-width: 768px) {
    .columns1, .columns, #main-nav, .img-box, .contact-info {
        display: flex;
        margin: auto;
    }

    .columns1 {
        width: 80%;
        margin-top: 35px;
    }

    #main-nav li {
        text-align: center;
        margin: 40px;
        &:hover {
            border-bottom: 2px solid var(--color-dark-grey);
        }
    }

    .img-box {
        margin-top: 5px;
    }

    .contact-info {
        width: 80%;
    }
}

/* Smaller Resolutions */
@media only screen and (max-width: 768px) {
    .img-box, .one, .two, .three {
        text-align: center;
        margin: auto;
    }
}
