:root {
    --black: #000;
    --white: #fff;
    --red: #ff0000; /* Red color */
    --light-grey: #d3d3d3;
    --dark-grey: #433f3f;
    --bg: #fff; /* White background */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg);
}

/* structure */
#content {
    background: var(--white);
    padding: 5px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
}

/* header */
#header {
    text-align: center;
}

#main-nav ul {
    padding-left: 0;
    margin: auto;
}

#main-nav li {
    list-style-type: none;
    background: var(--red); /* Red background */
    padding: 10px;
    border-bottom: 1px solid var(--black); /* Black border */
    border-radius: 15px;
}

#main-nav a {
    text-decoration: none;
    color: var(--white); /* White text */
}

/* Main Content */

.name {
    text-align: center;
}

.images {
    border-radius: 20px;
}

.brand {
    border-radius: 20px;
    background: var(--red); /* Red background */
    border: 1px solid var(--black); /* Black border */
}

.brand {
    text-align: center;
}

/* For larger resolutions */
@media only screen and (min-width: 768px) {
    .columns {
        display: flex;
    }

    #main-nav {
        display: flex;
    }

    #main-nav li {
        text-align: center;
        margin: 40px;
    }

    #main-nav li:hover {
        border-bottom: 2px solid var(--black); /* Darker border on hover */
    }

    .brand-box {
        display: flex;
        width: 80%;
        margin: auto;
    }

    .brand {
        width: 100%;
        margin: 30px;
        margin-left: 40px;
        margin-right: 40px;
        padding: 20px;
    }
}

/* For smaller resolutions */
@media only screen and (max-width: 768px) {
    .brand {
        margin: 20px;
    }
}
