:root {
    --black: #000;
    --white: #fff;
    --red: #c32828;
    --dark-grey: #433f3f;
    --bg: #abc;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg);
    color: var(--black);
}

/* Structure */
#content {
    background-color: var(--white);
    padding: 5px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
}

/* Header */
#header {
    text-align: center;
}

#main-nav ul {
    padding-left: 0;
    margin: auto;
}

#main-nav li {
    list-style-type: none;
    background-color: var(--red);
    padding: 10px;
    border-bottom: 1px solid var(--dark-grey);
    border: 1px solid var(--dark-grey);
    border-radius: 15px;
}

#main-nav a {
    text-decoration: none;
    color: var(--black);
}

/* Main Content */
.name {
    text-align: center;
}

.images {
    border-radius: 20px;
}

.brand {
    border-radius: 20px;
    background-color: var(--red);
    border: 1px solid var(--dark-grey);
    text-align: center;
    padding: 20px;
    color: var(--white);
}

/* For larger resolutions */
@media only screen and (min-width: 768px) {
    #main-nav li {
        text-align: center;
        margin: 40px;
    }

    #main-nav li:hover {
        border-bottom: 2px solid var(--dark-grey);
    }

    .brand-box {
        display: flex;
        width: 80%;
        margin: auto;
    }

    .brand {
        width: 100%;
        margin: 30px;
        padding: 20px;
    }
}

/* For smaller resolutions */
@media only screen and (max-width: 768px) {
    .brand {
        margin: 20px;
    }
}
