body {
    font-family: 'Helvetica', sans-serif;
    background: url('bodybackground.jpg') center fixed;
    background-color: #f0f8ff;
    color: #100f0f;
    margin: 20px;
}

h1, h2, h3 {
    color: #a92424;
}

a {
    text-decoration: none;
    color: #000000;
}

#content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fffdfd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

.assignment {
    margin-bottom: 20px;
    text-align: center; /* Center text and image */
    display: flex;
    flex-direction: row; 
    align-items: center;
    background-color: #f9f9f9; /* Background color behind each assignment */
    padding: 15px; /* Padding around each assignment */
    border-radius: 8px; /* Rounded corners */
}

.assignment img {
    width: 100px; 
    margin-top: 10px;
}

.assignment-text {
    margin-top: 10px; 
}

@media screen and (max-width: 768px) {
    #content {
        flex-direction: row;
    }
}